* {
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

body {
  font-family: Sans-Serif;
  background-color: #218559;
  background-image: url('images/washi.png');
}

.outer-container {
  margin: 0;
  width: 800px;
  height: 400px;
  border: 2px solid black;
  overflow: hidden;
  background-color: #aca;
}

.container {
  width: 800px;
  height: 400px;
  border: 2px solid red;
  background-color: #99C6FF;
  box-sizing: border-box;
}

h1, ul, li {
  margin: 0;
}

/*widget*/

.dimension-data-widget {
  opacity: 0.8;
  font-size: 10px;
  width: 140px; 
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #FFFFB4;
  border: 1px solid #EBB035;
}

.dimension-data-widget > div {
  border-top: 1px solid #ff5;
}

.dimension-data-widget > div:first-child {
  border-top: none;
}

/*layout*/

.node-container {
  margin: 50px auto;
  border: 2px solid #DD1E2F;
  background-color: white;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /*box-sizing: border-box;*/
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.node-container .node-summary, .node-container .node-full {
  display: block;
  box-sizing: border-box;
  -webkit-transition: visibility 0.5s ease, opacity 0.5s ease;
  -moz-transition: visibility 0.5s ease, opacity 0.5s ease;
  -o-transition: visibility 0.5s ease, opacity 0.5s ease;
  -ms-transition: visibility 0.5s ease, opacity 0.5s ease;
  transition: visibility 0.5s ease, opacity 0.5s ease;
}

.node-container .node-summary {
  width: 200px;
  height: 100px;
  border: 3px solid orange;
}
.node-container .node-full {
  width: 400px;
  height: 200px;
  border: 6px solid green;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.node-container.summary .node-summary, 
.node-container.full .node-full {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.node-container.summary .node-full,
.node-container.full .node-summary {
  visibility: hidden;
  height: 0;
  border: 0;
  opacity: 0;
}
