body {
  font-family: Sans-Serif;
  margin: 0;
  width: 800px;
  height: 640px;
}

.container {
  width: 800px;
  height: 640px;
  border: 1px dashed #ccc;
}

h1, ul, li {
  margin: 0;
}

/*widget*/

.dimension-data-widget {
  opacity: 0.3;
  font-size: 10px;
  width: 140px; 
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ffc;
  border: 1px solid #ff5;
}

.dimension-data-widget > div {
  border-top: 1px solid #ff5;
}

.dimension-data-widget > div:first-child {
  border-top: none;
}

/*layout*/

.node-container {
  margin: 200px auto;
  border: 2px solid #faa;
  background-color: #fcc;
  -webkit-transition: all .2s ease-in-out;
  /*box-sizing: border-box;*/
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.node-container .node-summary {
  display: block;
  width: 200px;
  height: 100px;
  /*border: 3px solid orange;*/
  box-sizing: border-box;
  transition:visibility 0.5s ease, opacity 0.5s ease;
}
.node-container .node-full {
  display: block;
  width: 400px;
  height: 200px;
  /*border: 6px solid green;*/
  box-sizing: border-box;
  -webkit-transform: scale(0.5);
  transition:visibility 0.5s ease, opacity 0.5s ease;
}

.node-container.summary .node-summary {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.node-container.summary .node-full {
  visibility: hidden;
  height: 0;
  border: 0;
  opacity: 0;
}

.node-container.full .node-summary {
  visibility: hidden;
  height: 0;
  border: 0;
  opacity: 0;
}
.node-container.full .node-full {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

